<h1>Box of Thoughts</h1>
<%= render 'new_link' %>

<% @current_user.links.each do |link| %>
	<%= link.title %>
	<%= link.url %>
	<%= link_to(link.read_status_name, flip_status_link_path(link)) %>
<% end %>